{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}


	<div class="container mt-5 text-center">
		<div class="jumbotron ">
		  <h1 class="display-4">Hello, world!</h1>
		  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		  <hr class="my-4">
		  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		  <a class="btn btn-primary btn-danger" href="#" role="button">Learn more</a>
		</div>
	</div>


	<h2 class="text-center mt-5">Nos Appartements Stars !!</h2>
	<div class="row mt-5 p-5 mr-0 text-center">

		<div class="col">
			<div class="card">
			  <div class="card-header">Chambre à partir de 50€/nuit<br>Pas encore de notes</div>
			  <div class="card-body">
			  	<img src="images/a1.jpg">
			    <h5 class="card-title mt-3">Bel appartement</h5>
			    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores incidunt doloremque, voluptas laboriosam sequi aspernatur adipisci, reprehenderit odit, fuga quasi molestias omnis, quibusdam cumque. Repellendus harum soluta sint voluptatibus qui.</p>
			    <a href="#" class="btn btn-danger">En savoir plus</a>
			  </div>
			</div>
		</div>
		
		<div class="col">
			<div class="card">
			  <div class="card-header">Chambre à partir de 50€/nuit<br>Pas encore de notes</div>
			  <div class="card-body">
			  	<img src="images/a2.jpg">
			    <h5 class="card-title mt-3">Bel appartement</h5>
			    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores incidunt doloremque, voluptas laboriosam sequi aspernatur adipisci, reprehenderit odit, fuga quasi molestias omnis, quibusdam cumque. Repellendus harum soluta sint voluptatibus qui.</p>
			    <a href="#" class="btn btn-danger">En savoir plus</a>
			  </div>
			</div>
		</div>

		<div class="col">
			<div class="card">
			  <div class="card-header">Chambre à partir de 50€/nuit<br>Pas encore de notes</div>
			  <div class="card-body">
			  	<img src="images/a3.jpg">
			    <h5 class="card-title mt-3">Bel appartement</h5>
			    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores incidunt doloremque, voluptas laboriosam sequi aspernatur adipisci, reprehenderit odit, fuga quasi molestias omnis, quibusdam cumque. Repellendus harum soluta sint voluptatibus qui.</p>
			    <a href="#" class="btn btn-danger">En savoir plus</a>
			  </div>
			</div>
		</div>

		</div>

	<h2 class="text-center mt-5">Nos Propriétaires Stars !!</h2>
	<div class="row mt-5 mr-0 p-5 text-center">

		<div class="col">
			<div class="card">
			  <div class="card-header">Nom et prénom<br></div>
			  <div class="card-body">
			  	<img src="images/femmeNB.jpg">
			   
			    <p class="card-text mt-3">
			    	Description :<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores incidunt doloremque, voluptas laboriosam sequi aspernatur adipisci, reprehenderit odit, fuga quasi molestias omnis, quibusdam cumque. Repellendus harum soluta sint voluptatibus qui.
			    </p>
			    <a href="#" class="btn btn-danger">En savoir plus</a>
			  </div>
			</div>
		</div>
		
			<div class="col">
			<div class="card">
			  <div class="card-header">Nom et prenom<br></div>
			  <div class="card-body">
			  	<img src="images/femmeBlonde.jpg">
			    <p class="card-text mt-3">Description :<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores incidunt doloremque, voluptas laboriosam sequi aspernatur adipisci, reprehenderit odit, fuga quasi molestias omnis, quibusdam cumque. Repellendus harum soluta sint voluptatibus qui.
			    </p>
			    <a href="#" class="btn btn-danger">En savoir plus</a>
			  </div>
			</div>
		</div>
		
	</div>
{% endblock %}

